doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/main.min.css")
		title Проверка
	body
		section
			.wrapper
				.row
					.third.items 
						.item 1-ый блок
					.third.items 
						.item 2-ой блок
					.third.items 
						.item 3-ий блок
			.wrapper
				.row
					.third.items.off-4
						.item 1-ый блок
					.third.items 
						.item 2-ой блок
			.wrapper
				.row
					.haft.items 
						.item 1-ый блок
					.haft.items
						.item 2-ой блок
			.wrapper
				.row
					.full.items 
						.item 1-ый блок
			.wrapper
				.row
					.fourth.items 
						.item 1-ый блок
					.fourth.items 
						.item 2-ой блок
					.fourth.items 
						.item 3-ий блок
					.fourth.items 
						.item 4-ый блок
			.wrapper
				.row
					.fourth.items 
						.item 1-ый блок
					.fourth.items.off-6
						.item 4-ый блок