doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/main.min.css")
		title Проверка
	body
		section
			.wrapper
				.row
					.third 
						.item 1-ый блок
					.third 
						.item 2-ой блок
					.third 
						.item 3-ий блок
			.wrapper
				.row
					.third 
						.off-2.item 1-ый блок
					.third 
						.item 2-ой блок
			.wrapper
				.row
					.haft 
						.item 1-ый блок
					.haft
						.item 2-ой блок