@import "vars"

//Основные примеси
=clearfix
	&::after
		content: " "
		display: table
		clear: both
=width($part)
	width: 100% / $part
=off($part)
	margin-left: 100% / $grid-columns * $part

//Контейнеры
.wrapper
	max-width: $wrapper
	margin: 0 auto
	padding: 0 $gutter / 2
	position: relative
	+clearfix
.row
	margin: 0 (-$gutter / 2)
	position: relative
	+clearfix
.items
	position: relative
	padding: 0 ($gutter / 2)
	margin: ($gutter / 2) 0
	float: left
	box-sizing: border-box
	+clearfix
	.item
		background: #ffffff
		border-radius: 3px
		padding: 5px
		text-align: center

//Блоки
.full
	+width(1)
.haft
	+width(2)
.third
	+width(3)
.fourth
	+width(4)

//Смещения
.off-1
	+off(1)
.off-2
	+off(2)
.off-3
	+off(3)
.off-4
	+off(4)
.off-5
	+off(5)
.off-6
	+off(6)